.main-button {
    display: inline-block;
    background-color:#F25A70;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0px #1b1a1a;
    margin-right: 0;
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
    border-radius: 14px;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48); /*o botão irá ter uma animação quando o mouse passar por ele e será de 100 milisegundos e de forma linear*/
}


.main-button:hover {
    transform: scale(1.07); /*p/ aumentar o botão ao passar o mouse*/
}